#headerComponent {
  background: url(../imgs/appBackgrounds/beePattern.png), $gradient-blue;
  color: $white;
  padding: 7.81% 0; //25px 0

  h1{
    width: 55%;
    text-align: right;
    display: inline-block;
    margin-right: 5%;
  }

  div{
    width: 30%;
    display: inline-block;
    position: absolute;
  }
}