//Fonts
$a-Bee-Zee: "ABeeZee";
$roboto: "Roboto";

//Colors
$font-color: #5f6c72;
$white: #ffffff;

//Width
$width-320: 320px;
$width-375: 375px;
$width-420: 420px;
$width-768: 768px;
$width-1024: 1024px;